.app__chef {
  min-height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__chef-total {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__chef-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__chef-left img {
  width: 500px;
  height: 600px;
}

.app__chef-right {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-left: 4rem;
}

.P__cormorant2 {
  font-family: var(--font-base);
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: var(--color-golden);
}

.opensan2 {
  font-family: var(--font-alt);
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: var(--color-grey);
}

.P__cormorant3 {
  font-family: var(--font-base);
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: var(--color-golden);
}

.p__opensans2 {
  font-family: var(--font-alt);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: var(--color-grey);
}

.app__chef-right-p h1 {
  padding-top: 1rem;
}

.app__chef-right-p-quote img {
  width: 47px;
  height: 40px;
}

.app__chef-right-p-quote {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.app__chef-right-p-quote p {
  text-align: center;
  padding-left: 10px;
}

.app__chef-right-p-quote-cover {
  margin: 2rem 0;
}

.app__chef-right-name {
  margin: 2rem 0;
}

.app__chef-right-signature {
  font-family: var(--font-best);
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 130%;
  letter-spacing: 0.04em;
  color: var(--color-grey);
  padding: 1.5rem 0;
}

@media screen and (min-width: 2000px) {
  .app__chef {
    padding: 4rem;
  }
}

@media screen and (max-width: 1380px) {
  .app__chef-right-p h1 {
    font-size: 55px;
    line-height: 120%;
  }

  .app__chef-right-p-quote-cover .app__chef-right-p-quote p {
    font-size: 14px;
  }

  .app__chef-right-p-quote img {
    width: 40px;
    height: 35px;
  }

  .app__chef-right-p-quote-cover p {
    font-size: 15px;
  }
}

@media screen and (max-width: 1180px) {
  .app__chef-total {
    flex-direction: column;
  }

  .app__chef-left img {
    width: 350px;
    height: 450px;
  }

  .app__chef-right {
    padding: 3rem 0;
  }

  .app__chef-right-p-quote-cover .app__chef-right-p-quote p {
    font-size: 16px;
  }

  .app__chef-right-p-quote-cover p {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .app__chef-right-p h1 {
    font-size: 50px;
    line-height: 100%;
  }

  .app__chef-right-p-quote p {
    font-size: 17px;
    line-height: 140%;
  }

  .app__chef-right-p-quote p {
    padding-left: 10px;
  }
}

@media screen and (max-width: 544px) {
  .app__chef-right-p h1 {
    font-size: 40px;
    line-height: 100%;
  }

  .app__chef-right-p-quote p {
    font-size: 16px;
    line-height: 160%;
  }
}

@media screen and (max-width: 425px) {
  .app__chef-left img {
    width: 300px;
    height: 340px;
  }

  .app__chef-right-p-quote img {
    width: 30px;
    height: 25px;
  }

  .app__chef-right-p h1 {
    font-size: 45px;
    line-height: 120%;
  }
}
